# EditorConfig helps maintain consistent coding styles
# https://editorconfig.org

root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown files
[*.md]
trim_trailing_whitespace = false

# YAML files (Jekyll config, translations)
[*.{yml,yaml}]
indent_size = 2

# HTML templates (Jekyll layouts, includes)
[*.html]
indent_size = 2

# SCSS/CSS files
[*.{scss,css}]
indent_size = 2

# JavaScript
[*.js]
indent_size = 2

# Ruby files (Gemfile)
[{Gemfile,*.rb}]
indent_size = 2

# Makefile (requires tabs)
[Makefile]
indent_style = tab
indent_size = 4
