/**
 * Site header
 */
.page-header {
    height: 60px;
}

.page-title {
    @include relative-font-size(1.625);
    font-weight: 300;
    line-height: $base-line-height * $base-font-size * 2.25;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    color: $text-color;
  
    a {
      color: $text-color;
  
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  
    span {
      color: #ddd;
    }
  
  
    &,
    &:visited {
      color: $text-color;
    }
  }