---
layout: default
title: "Alexsandro Silva Alves | Front-End Developer"
---

<section class="home">
  <header>
    <h2>Olá, eu sou Alexsandro Silva Alves 👋🏽</h2>
    <h3>Tech Lead | Staff Front-End Engineer</h3>
  </header>

  <p>
    Morando no Brasil, atuo na  <a href="https://www.thoughtworks.com" target="_blank">Thoughtworks</a> construindo equipes de engenharia de alta performance. Meu foco é mentorar novas lideranças, otimizar fluxos de trabalho complexos e entregar soluções robustas que geram valor tangível para o negócio.
  </p>

  <ul>
    <li>
      <a href="https://www.linkedin.com/in/alexsandrosa" target="_blank"
        >Linkedin</a
      >
    </li>
    <li>
      <a href="https://github.com/AlexsandroSA" target="_blank">Github</a>
    </li>
  </ul>
</section>
